<!DOCTYPE html>
<html>
   <head>
     <meta charset="UTF-8">
     
     <title>
     Tag prediction
     </title>
     <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
   </head>
   
   <body>
    <div class="login">
           <h1> Predicting Tags in Stack Overflow </h1>
     <form action = "/tag_pred" method="POST">
        <input type="text" name="Question" placeholder="Enter her"/>
        <!-- <input type="submit"  value="Submit"/> -->
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
     </form>
     <p>
        {{ tags_prediction }}
        
     </p>
   
    </div>
   </body>



</html>
